{% extends "base.html" %} {% block html_lang %}{{ article.lang }}{% endblock %}
{% block head -%} {{ super() -}} {% if article.summary %}
<meta
  name="description"
  content="{{ article.summary | striptags | safe | truncate(150) }}"
/>
{% endif %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/robustlinks.css"
/>
<script
  type="text/javascript"
  src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/robustlinks-min.js"
></script>
<link rel="dns-prefetch" href="https://webmention.io/" />
<link rel="preconnect" href="https://webmention.io/" />
<link rel="preconnect" href="ws://webmention.io:8080/" />
<link rel="pingback" href="https://webmention.io/dltj.org/xmlrpc" />
<link rel="webmention" href="https://webmention.io/dltj.org/webmention" />
{% endblock %} {% block title %}{{ article.title|striptags }} | {{ SITENAME }}{%
endblock %} {% block extra_head %} {% import 'translations.html' as translations
with context %} {% if translations.entry_hreflang(article) %} {{
translations.entry_hreflang(article) }} {% endif %} {% endblock %} {% block
content %}

<main class="h-entry">
  <header>
    <h1 class="p-name font-semibold text-3xl my-2">{{article.title}}</h1>
    <footer class="flex text-sm text-zinc-800">
      <div class="flex text-xs text-zinc-800">
        by&nbsp;
        <span class="p-author author h-card vcard">
          <a class="p-name fn u-url url" href="https://dltj.org" rel="me">
            Peter E. Murray
          </a> </span
        >&nbsp;·&nbsp;
        <i class="far fa-calendar-alt" aria-hidden="true"></i
        >&nbsp;Posted&nbsp;on&nbsp;
        <time
          class="dt-published"
          datetime="{{ article.date|strftime('%Y-%m-%d %H:%M:%S') }}"
          >{{ article.date|strftime('%B %d, %Y') }}</time
        >
        {% if article.modified %}
        <div class="flex text-xs text-zinc-800">
          <span>
            &nbsp;and last updated
            <a
              class="dt-updated underline"
              href="https://github.com/dltj/dltj-blog/commits/main/content/{{ article.relative_source_path }}"
              datetime="{{ article.modified|strftime('%Y-%m-%d %H:%M:%S') }}"
              >{{ article.modified|strftime('%B %d, %Y') }}</a
            ></span
          >
        </div>
        {% endif %}
        <div>
          {% if article.readtime %}
          <span
            >&nbsp;·&nbsp;<i class="far fa-clock" aria-hidden="true"></i
            >&nbsp;{{ article.readtime
            }}&nbsp;minutes&nbsp;reading&nbsp;time</span
          >
          {% endif %}
        </div>
      </div>
    </footer>
  </header>
  {% if article.toc %}
  <details class="flex flex-col my-6 p-4 bg-zinc-200 rounded-lg">
    <summary class="text-lg font-bold">Table of contents</summary>
    <div class="mx-4 px-4 underline">{{ article.toc }}</div>
  </details>
  {% endif %}
  <div
    class="e-content max-w-7xl container mx-auto my-8 text-zinc-800 prose lg:max-w-none prose-headings:text-zinc-800 prose-h1:text-3xl lg:prose-h1:text-3xl prose-headings:font-semibold prose-pre:bg-zinc-200 prose-pre:text-zinc-800 prose-blockquote:text-zinc-800 prose-a:text-slate-600 prose-a:font-normal prose-code:bg-zinc-200 prose-code:font-light prose-img:rounded-md text-left"
  >
    {{ article.content }}
    <!-- <div class="aspect-w-16 aspect-h-9 mx-auto"></div> CSS placeholder -->
  </div>
  <footer class="flex flex-col mt-10">
    <ul class="flex flex-wrap">
      {% for tag in article.tags|sort %}
      <li
        class="bg-zinc-200 hover:bg-zinc-300 text-zinc-600 mb-2 mr-2 px-3 py-1.5 rounded-md transition ease-in active:-translate-y-1 active:scale-110 duration-75"
      >
        <a class="p-category" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
      </li>
      {% endfor %}
    </ul>
    <div class="flex w-full my-2 bg-zinc-200 rounded-lg">
      {% if article.next_article %}
      <div class="w-1/2 hover:bg-zinc-300 rounded-l-lg">
        <a
          class="flex flex-col pr-2"
          href="{{ SITEURL }}/{{ article.next_article.url }}"
        >
          <div class="mx-4 py-2 text-left">
            <p class="text-zinc-600 text-sm">« PREV PAGE</p>
            <p class="text-left py-1 hover:underline">
              {{ article.next_article.title }}
            </p>
          </div>
        </a>
      </div>
      {% else %}
      <div class="w-1/2 rounded-l-lg"></div>
      {% endif %} {% if article.prev_article %}
      <div class="w-1/2 hover:bg-zinc-300 rounded-r-lg">
        <a
          class="flex flex-col"
          href="{{ SITEURL }}/{{ article.prev_article.url }}"
        >
          <div class="text-right mx-4 py-2">
            <p class="text-zinc-600 text-sm">NEXT PAGE »</p>
            <p class="text-right py-1 hover:underline">
              {{ article.prev_article.title }}
            </p>
          </div>
        </a>
      </div>
      {% endif %}
    </div>
    {% if SHARE %}
    <div
      class="flex bg-zinc-200 py-2 rounded-lg justify-center space-x-2 text-xs"
    >
      {% for name, link in SHARE %}
      <ul>
        <li class="bg-gray-900 p-1 text-white rounded-md">
          <a
            target="_blank"
            rel="noopener noreferrer"
            title="{{ name }}"
            aria-label="share Features on {{ name }}"
            href="{{ link }}{{ SITEURL }}/{{ article.url }}"
          >
            <i class="fab fa-{{ name }} fa-2x" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
      {% endfor %}
    </div>
    {% endif %}
  </footer>
  <div>{% include 'disqus_script.html' %}</div>
</main>

{% endblock %}
